
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.barra {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
  }
  
.barra  {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  

.barra a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  

.barra a:hover {
    background-color: #575757;
  }



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
}
h1 {
    margin: 0px;
    font-family: Arial, sans-serif;
   text-align: center;
   background-color: #333;
   color: white;
   
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    display: flexbox;
    
}

h2 {
    color: tomato;
    text-align: center;
    font-size: 30px;
}
h3 {
    color: purple;
    text-align: center;
    font-size: 20px;
}




img {
    max-width: 100%;
    
}

table {
    border: hidden #ddd;
    width: 100%;
    margin-top: 20px;
}

td, th {
    border: 1px dotted black;
    padding: 10px;
    text-align: center;
}


nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #222;
}

nav a {
    color: white;
    text-decoration: none;
}





