body{background-color: orange;
    font-family: Arial, Helvetica, sans-serif;




}
p {
    width: 800px;        
    height: 800px;        
    background-color: white; 
    color: black;         
    text-align: left;   
    line-height: 20px;   
    border: 2px solid #2980b9; 
    border-radius: 10px;  
}

.hover{transition: 0.5s ease;}

.hover:hover{transform: scale(1.1);}